## [Visual Studio GitIgnore](https://github.com/github/gitignore/blob/main/VisualStudio.gitignore)

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bbin/
obj/
external/
[Ll]og/
[Ll]ogs/

## Visual Studio 2015/2017/2019/2022 cache files
.vs/

## Others
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.exe
*.dll
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.userstorage
*.db
*.log
*.tmp
*.temp
*.swp
*.bak
*.old
*.obj
*.pdb
*.idb
*.iobj
*.ipdb
*.ipch
*.lib
*.exp
*.map
*.res
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdb
*.obj
*.exe
*.dll
*.idb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdb
*.obj
*.exe
*.dll
*.idb
*.tlb
*.tlh

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Others
.DS_Store
.directory
node_modules/
.env
.env.*
!.env.example
